* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;

}
div {
  margin: 10px;
}

img {
  margin-top: 30px;
}
.btn {
  padding: .5rem;
  border-radius: 1rem;
  width: 4.5rem;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;

}
.btn:hover {
  background-color: #d9d99b;
  transition: .5s ease-in;
}
.logo-container {
  text-align: center;
}
.bio {
  margin-left: 5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
  margin-top: 1rem;
}
.img-notes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #0003;
  padding: 3rem;
}

label {
  padding: 5px;
  font-size: 1.2rem;
}
.bio input,
.img-notes input,
.end input {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  /* border-bottom: 1px solid #0003; */
  font-size: 1.2rem;
}

.img-notes textarea {
  border-radius: 10px;
  height: 150px;
  width: 350px;
  padding: 10px;
}
.add-wrapper {
  text-align: center
   
}
#add {
  cursor: pointer;
  background-color: #d9d99b;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}
.end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 20px;
  width: auto;
  margin-right: 5rem;
}
.btn-wrapper {
  margin-top: 0;

}

@media print {
  #add,
  #print,
  #save {
    display: none !important;
  }
}

.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 15px;
}
input {
  display: inline-block;
  width: auto;
}