html {
    font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #001;
}
li {
  list-style: none;
}

.navigation-header {
  background-color: rgb(226, 226, 231);
  padding: 0 15px;
  height: 120px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


.navigation-header .navbar {
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.navbar-items ul  {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.navbar-items ul > li {
    font-weight: 500;
    font-size: 1.6rem;
    transition: .5s ease-in-out;
}
.navbar-items ul > li a:hover {
    color: rgb(255, 127, 217);   
}
.hamburger {
    display: none;
    font-size: 2rem;
    font-weight: 800;
}
.logo-container {
    margin-right: auto;
}
@media screen and (max-width:880px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }
    .hamburger #closeHam {
        display: none;
    }
    .navbar-items ul {
        backdrop-filter: blur(10px);
        background-color: #001;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        gap: 2rem;
        left: 0;
        margin-top: 6rem;
        padding: 2rem;
        position: absolute;
        top: 8rem; 
        width: 100%
    }
    .navbar-items ul li a{
        color: #fff;
    }
}
/*
.container {
  display: flex;
  gap: 10px;
  width: 100%;
}
.navbar-toggler {
  border: none;
  background-color: #fff;
  cursor: pointer;
  float: right;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav .nav-item {
  display: inline-block;
  margin: 2rem;
  white-space: nowrap;
}
.nav-item.cta {
    border: 1px solid #331;
    padding: .4rem;
    border-radius: 1rem;
    
} */
